@{
    ViewData["Title"] = "HR emploees List";
}

@model List<HR>
<div class="text-center">
    @foreach (var item in @Model)
    {
        <ul>
            @Html.ActionLink(
       linkText: item.FirstName + " " + item.Surname,
       actionName: "Details",
       controllerName: "HR",
       routeValues: new
       {
           id = item.Id
       })
    </ul>
}
</div>
